html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-image: radial-gradient(white, #00A6FB);
  box-sizing: border-box;
}
@media (min-width: 550px) {
  body {
    background-image: url('../Assets/treesBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}
h1 {
  font-size: 5rem;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bolder;
  color: #31393C;
}
@media (min-width: 550px) {
  h1 {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.header-image {
  height: 10vh;
  margin-right: 5%;
}
@media (min-width: 550px) {
  .header-image {
    margin-right: 10%;
  }
}
.menu-button {
  left: 20px;
  cursor: pointer;
}
@media (min-width: 550px) {
  .menu-button {
    display: none;
  }
}
.menu {
  display: none;
  flex-direction: column;
  width: 30rem;
  height: 60vh;
  background-color: #FFCA3A;
  border: 3px solid #EA526F;
  padding: 30px 0;
  position: absolute;
  z-index: 2;
}
@media (min-width: 550px) {
  .menu {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10vh;
    position: relative;
    z-index: 0;
    border: none;
    background-color: none;
    padding: 0px 0;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.menuOptions--open {
  display: flex;
}
.menuOptions {
  width: 77%;
  height: 16vh;
  background-color: #00A6FB;
  border: 2px solid #8AC926;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 3.5rem;
}
@media (min-width: 550px) {
  .menuOptions {
    display: flex;
    height: 6vh;
    width: 40%;
    padding: 10px, 10px, 10px, 10px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .menuOptions:hover {
    background-color: #8AC926;
    color: #31393C;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
h2 {
  font-size: 3rem;
  margin-top: 30px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  color: #EA526F;
}
@media (min-width: 550px) {
  h2 {
    margin-right: 0%;
    margin-left: 0%;
    width: 45%;
  }
}
p {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Capriola', sans-serif;
  border: 1px dashed #31393C;
}
@media (min-width: 550px) {
  p {
    margin-right: 0%;
    margin-left: 0%;
    width: 45%;
  }
}
.landing-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 550px) {
  .landing-page-content {
    display: flex;
    background-color: #8AC926;
    margin-top: 30px;
    width: 60%;
    flex-wrap: wrap;
    margin-left: 20%;
    padding-bottom: 30px;
    flex-direction: row;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
small {
  margin-top: 15px;
  margin-bottom: 20px;
}
